.col-md-4 {
  width: 100%;
}

.block {
  outline: 1px solid gray;
  width: 20px;
  height: 20px;
}
#gameContainer {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 100%;
  gap: 4rem;
  height: 30rem;
}