
.block {
  outline: 1px solid gray;
  width: auto;
  height: 12.5%;
}

#gameContainer {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  outline: 1px dashed orange;
}

.container {
  display: flex;
  width: 100%;
}

.row {
  display: grid;
  
  }
  .col-sm-12 {
    left: 50%;
  }
  .col-sm-6 {
    left: 25%;
  }
  .arrow{
    background-color: lightgray;
  }
  