
.block {
  outline: 1px solid gray;
  width: 12.5%;
  height: auto;
}

#gameContainer {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 100%;
}
